a {
    color: var(--third-text-color);
}
a:visited {
    color: var(--third-text-color);
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
}

.container_flex-center {
    display: flex;
    justify-content: center;
}


.resume {
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    padding: 30px 0;
    max-width: 900px;
}

.resume__block {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.contact-info__header,
.contact-info__sub-header,
.contact-info__info {
    text-align: center;
}
.contact-info__info {
    color: var(--secondary-text-color);
    font-style: italic;
    margin-bottom: 20px;
}
.contact-info__header {
    color: var(--primary-text-color);
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
}

.contact-info__sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    font-size: 20px;
}

.intro {
    display: flex;
    justify-content: space-between;
}

textarea.intro_text {
    width: 100%;
    height: 100px;
}

.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.intro__icon {
    height: 30px;
    vertical-align: text-bottom;
}

.intro__icon path {
    fill: var(--text-decoration-color);
}

.intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
}

.header-and-text-block__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
}

.header-and-text-block__text {
    color: var(--secondary-text-color);
    text-align: center;
}
textarea.header-and-text-block__text {
    width: 100%;
    height: 50px;
    text-align: start;
}
.invalid-text {
    text-align: center;
    color: red;
}