:root {
  --main:#ff9a0045;
  --second:#ff9a00;
  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --third-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}
